@media screen and (max-width: 1200px) {
  nav,
  .wid-carts {
    margin: 0 2rem;
  }
  main .content {
    margin: 0 2rem;
    margin-top: 15rem;
  }
  .about-section {
    margin: 0 2rem;
  }
  .about-section {
    .image {
      img {
        height: 50rem;
      }
    }
    .about-content {
      h2 {
        width: 100%;
      }
      p {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  :root {
    --font-lz: 5rem;
    --font-md: 2rem;
    --font-sm: 1.5rem;
  }
  main .content h1 {
    font-size: 7.5rem;
    width: 80%;
  }
  nav {
    margin: 0 2rem;
    .items {
      display: none;
    }
    .searchAndInstaIcon {
      display: none;
    }
    .mobile-bar-and {
      .bar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(208, 208, 208);
        height: 4rem;
        width: 4rem;
        padding: 0.5rem;
      }
    }
  }
  .about-section {
    flex-direction: column;
    gap: 6rem;
    .image {
      img {
        height: 80rem;
      }
    }
    .about-content {
      width: 73%;
      h2 {
        margin-bottom: 5rem;
      }
    }
  }
  .wid-carts {
    margin: 0 auto;
    max-width: 70rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .all-games {
    width: 80%;
    margin: 0 auto;
    .navs {
      display: flex;
      justify-content: end;
      position: relative;
    }
    .small-navigator {
      position: absolute;
      display: flex;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: var(--secondery-color);
      background-color: rgb(30, 30, 30);
      gap: 0.5rem;
      text-transform: capitalize;
      cursor: pointer;
      width: 15rem;
      & option {
        color: #dddddd;
        border-bottom: 1px solid rgba(128, 128, 128, 0.247);
        padding: 1rem 2rem;
        letter-spacing: 0.02rem;
        &:hover {
          background-color: rgba(202, 149, 14, 0.242);
        }
      }
    }
    .navigator {
      display: none;
    }
    .games {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 767px) {
  :root {
    --font-lz: 3rem;
    --font-md: 2rem;
    --font-sm: 1.5rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
  header {
    height: 80rem;
  }
  main .content {
    margin-top: 15rem;
  }
  main .content h1 {
    font-size: 3.5rem;
  }
  .mobile-bar-and {
    .mobile-menu {
      width: 100%;
    }
  }
  .about-section {
    .image {
      img {
        height: 60rem;
      }
    }
    .about-content {
      width: 85%;
    }
  }
  .mobile-menu {
    display: none;
  }
  .showMenu {
    display: block;
  }
  .wid-carts {
    margin: 0 2rem;
    grid-template-columns: repeat(1, 1fr);
    .cart {
      max-width: 45rem;
    }
  }
  .all-games {
    width: 100%;
    padding: 7rem 2rem 5rem 2rem;
    max-width: 54rem;
    .games {
      max-width: 45rem;
    }
  }
  .trend-game {
    margin: 6rem 0rem 0rem 0rem;
    .games {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem;
    }
    & .title {
      & h2 {
        &::before {
          top: 4rem;
          height: 3rem;
          width: 24rem;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  header {
    height: 60rem;
  }
  .about-section {
    .image {
      img {
        height: 100%;
        width: 100%;
      }
    }
    .about-content {
      width: 100%;
    }
  }
  .dropdown-bar {
    & ion-icon {
      font-size: 3.5rem;
      cursor: pointer;
    }
    & ion-icon {
      font-size: 2.5rem;
    }
    & img {
      height: 70%;
    }
  }
  & .xtime {
    font-size: 2rem;
  }
}
